.condition-cont{
  dl{
    dt,dd{
      display:inline-block;
      margin: 0 0.5em;
    }
    a{
      cursor: pointer;
    }
  }
  p.viewtypes{
    a{
      cursor: pointer;
      margin-right:2em !important;
    }
  }
}

#itemlist .mapmarker{
  width:145px;
  padding:3px;
  &.food{
    background: red;
    i.icon{
      color: white;
    }
  }
  &.movie{
    background: yellow;
    i.icon{
      color: blue;
    }
  }

}