.condition-cont dl dt,
.condition-cont dl dd {
  display: inline-block;
  margin: 0 0.5em;
}
.condition-cont dl a {
  cursor: pointer;
}
.condition-cont p.viewtypes a {
  cursor: pointer;
  margin-right: 2em !important;
}
#itemlist .mapmarker {
  width: 145px;
  padding: 3px;
}
#itemlist .mapmarker.food {
  background: red;
}
#itemlist .mapmarker.food i.icon {
  color: white;
}
#itemlist .mapmarker.movie {
  background: yellow;
}
#itemlist .mapmarker.movie i.icon {
  color: blue;
}
